<table cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Lendee</th>
            <th>Checkout Date</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for column in item_data %}
        <tr>
            <td>{{ column.0 }}</td>
            <td>{{ column.1 }}</td>
            <td>{{ column.2 }}</td>
            <td>{{ column.3 }}</td>
            <td>{{ column.4 }}</td>
            <td>{{ column.5 }}</td>
            <td>{{ column.6 }}</td>
            {% include 'forms/action_form.jinja' %}
        </tr>
    {% endfor %}
</table>