<td>
    <form action="" method="post">
        <button name="edit" value="{{ column.0 }}">Edit</button>
        <button name="lend" value="{{ column.0 }}">Lend</button>
        <button name="return" value="{{ column.0}}">Return</button>
        <button name="delete" value="{{ column.0 }}">Delete</button>
    </form>
</td>