<form action="/add" method="post">
    <label for="itemname">Name:</label>
    <input type="text" id="itemname" name="itemname" required>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category">
    <button>Save</button>
</form>