<form action="/edit" method="post">
    {% for row in item_data %}
        <label for="itemname">Name:</label>
        <input type="text" id="itemname" name="itemname" value="{{row.1}}">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="{{row.2}}">
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" value="{{row.3}}">
    {% endfor %}
    <button name="save" value="{{ id }}">Save</button>
</form>