header {
    display: flex;
}

nav {
    margin: auto;
    margin-left: 1em;
    margin-right: 0px;
}

nav a {
    padding: 10px;
    font-size: 2em;
    border-left-style: solid;
}

a {
    text-decoration: none;
}
p {}

tr:nth-child(even) {
    background-color: lightgrey;
}

table {
    border: 1px solid grey;
}

thead tr {
    background-color: darkgrey;
}

th, td {
    padding: 2em;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    border-left: 1px solid grey;
    border-right: none;
}

div #actions {
    align-items: center;
    display: flex;
}

div #actions form {
    display: flex;
}

div #actions form button {
    padding: 4px;
    margin: 2px;
}

div #search-block {
    align-items: center;
    display: flex;
    padding: 1em;
}

div #search {
    align-items: center;
    display: flex;
    padding-left: 10px;
}

div #search form {
    display: flex;
}

div #search form button {
    padding: 4px;
}

div #search input {
    height: 2em;
}

.table-nav {
    margin: 0;
}

div #table-nav {
    display: flex;
}

div #table-nav a {
    padding: 2px;
}

div #table-nav p {
    padding: 2px;
}