<div id="search">
    <form class='flex' action="/search" method="post">
        <input type="text" id="search" name="search" placeholder="Search">
        <button type="submit">Submit</button>
    </form>
</div>